<!DOCTYPE html>
<html>
<head>
    <title>Running Tasks</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Running Tasks</h1>
        <ul>
            {% for task in tasks %}
                <li><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a> - {{ task.status }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'task_list' %}" class="btn btn-primary">Back to Task List</a>
    </div>
</body>
</html>
